<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/meta'); %>
    <title>Users</title>
  </head>
  <body>
    <main class="container mt-4">
      <header id="header">
        <%- include('components/nav')%>
        <h2>X-music</h2>
        <p>Selecciona</p>
   <% if(login){ %>
   <h1>El usuario conectado es: <strong><%= name %></strong></h1>
   <a href="logout" class="a-logout">Logout</a>
   <% }else { %>
    <h1><strong><%= name %></strong></h1>
    <a href="login" class="a-login">Ir al LOGIN</a>
    <% }%>

      </header>

      <section class="data_fetch">
        <table>
          <thead>
            <tr>
              <td>id</td>
              <td>User</td>
              <td>Name</td>
              <td>Rol</td>
              <td>Pass</td>              
            </tr>
          </thead>
          
          <tbody>
            <% api.forEach((da)=> { %>
            <tr>
              <td><%= da.id %></td>
              <td><%= da.user %></td>
              <td><%= da.name %></td>
              <td><%= da.rol  %></td>           
              <td><%= da.pass %></td>           
            </tr>
            <% }) %>
            
          </tbody>
        </table>
        
      </section>
    </main>
    <%- include('./components/bootstrap')%>
     <%-include('./components/changeColor')%>
  </body>
</html>
